.container{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    }
    
    .container {
        background-image: url("../assets/heroImg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100vw;
}
.search-btn{
    font-size: 25px;
    background-color: rgb(51 65 85);
    padding: 20px 40px;
    border-radius: 50px;
    display: inline-block;
    width: 100%;
    color: white;
    transition: 300ms ease-in-out;
    
}

.search-btn:hover{
    background-color: white;
    color: rgb(51 65 85);
    
}

.heading{
    font-size: 60px;
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
color: white;
}

.heading span{

    font-style: italic;
}

.para{
    font-size: 20px;
    text-align: center;
}
@media screen and (max-width: 448px) {
    .heading {
        font-size: 40px;
        font-family: 'Roboto', sans-serif;
        color: white;
    }
        .container {
            padding: 1rem 2rem;
        }
                .para {
                    font-size: 20px;
                    text-align: left;
                }
                                .search-btn {
                                    font-size: 25px;
                                    background-color: rgb(51 65 85);
                                    padding: 20px 40px;
                                    border-radius: 50px;
                                    display: inline-block;
                                    width: auto;
                                    color: white;
                                    transition: 300ms ease-in-out;
                
                                }
}
